.main-container {
    display: flex;
    
    
}
.main-container-left {
    margin-top:0px;
    width: 25%;
    /* border-block-end: 1px solid #e8e1e1; */
    border-right:1px solid #e8e1e1;
    border-left:1px solid #e8e1e1;
    border-bottom:1px solid #e8e1e1;
    border-width: 100%;
}
.main-container-right {
    
    width:75%;
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    border-block-end: 1px solid #e8e1e1;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding-left:1em;
    
}
.card-template{

height: 320px;
width: 276px;
border: 1px solid #e8e1e1;
margin: 10px 20px 0px 0px;



}

.card-template:hover{
    border: 1px solid #b9b2b2;
}

.img{
    height: 50%;
    width: 100%;

}

.img img{
    width: 100%;
}

.text-name{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top:4px;
}

.text-deliveryTime{

    font-size: 16px;
    font-style: normal;
    text-align: left;
    margin:4px 0px 0px 4px;
    
}

.rating{
margin:0px 4px 0px 0px ;
font-size: 16px;
text-align: right;

}
.top-container{
    display: flex;
    margin-top:20px;
    border-block-end: 1px solid #e8e1e1;
    align-items: center;

}

.logo{
    font-size: 30px;
    color: Red;
    margin-right:150px;
    margin-top:20px;
    font-weight: 2000;
   

}

.search-bar{
    width: 300px;
    height:20px;
    margin-top:50px 0px 5px 75px;
    display: block;

}
.input{
    width: 150px;
    height:25px;
}
.add-button{
    width: 75px;
    height:25px;
}

.h1{
    font-size: 20px;
    
}

.top-right{
    padding-left: 1em;
}
